*{
    margin: 0;
    padding: 0 ;
    scroll-behavior: smooth;
    font-family: "DM Sans", sans-serif;
}

.navSiswa{
    position: fixed;
    width: 100%;
    height: auto;
    z-index: 3;
    transition: 0.5s;
}

nav h1{
    color: white;
}

.section1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem;
}

.backgroundDiv-section1{
    width: auto;
    /* height: 350px; */
    display: flex;
    justify-content: center;
    text-align: center;
    background: url("/assets/background/bgSiswa.png");
    background-size: cover;
    padding: 8rem;
    border-radius: 20px;
    margin-top: 4rem;
}

.backgroundDiv-section1 h2{
    width: 663px;
    color: white;
    font-size: 36px;
}

.section2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem;
}

.display-section2{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 20px;
    box-shadow: 0 0 20px 0 black;
    padding-top: 1.438rem;
    padding-bottom: 2.063rem;
    padding-left: 1.375rem;
    padding-right: 1.375rem;
}

.display-section2 h3{
    font-size: 20px;
    padding-bottom: 1.5rem;
    color: #434F65;
}

.container-section2{
    display: flex;

}

.Display{
    width: 150px;
    height: auto;
    margin-left: 4.313rem;
    margin-right: 4.313rem;
    text-align: center;
}

.Display h4{
    font-size: 2rem;
}

.Display p{
    margin-top: 5px;
    font-size: 0.875rem;
    color: #959595;
}

.DisplayLine{
    content: "";
    width: 3px;
    background-color: #BFBFBF;
}

.containerButton{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

.displayButton{
    margin-top: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    cursor: pointer;
}

.displayButton div{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 2px solid #878787;
    box-shadow: 4px 4px 40px 0 rgba(0, 0, 0, 30%);
    height: 6rem;
    width: 6rem;
    /* height: 3.75rem;
    width: 3.75rem; */
    margin-bottom: 10px;
}

.displayButton div img{
    height: 60%;
}

.displayButton p{
    font-size: 18px;
}

.sectionLine {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sectionLine div{
    content: "";
    height: 4px;
    width: 976px;
    background-color: #BFBFBF;
}

.section3{
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 7.5rem;
}

.conatiner-section3{
    width: auto;
    border-radius: 20px;
    border: 2px solid #878787;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    padding-left: 247px;
    padding-right: 247px;
    padding-top: 44px;
    padding-bottom: 44px;
    box-shadow: 4px 4px 20px 5px rgba(0, 0, 0, 0.25);
}

.conatiner-section3 h3{
    font-size: 20px;
}

.conatiner-section3 div{
    display: flex;
    width: 100%;
    margin-top: 2rem;
}

.conatiner-section3 div form{
    display: flex;
    flex-direction: column;
    width: auto;
}

.inputForm{
    padding-right: 12px;
    padding-left: 12px;
    height: 44px;
    width: 486px;
    border-radius: 10px;
    border-style: none;
    border: 2px solid rgb(122, 122, 122);
    margin-bottom: 2rem;
}

.inputDesakripsi{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 12px;
    padding-left: 12px;
    height: 174px;
    width: 486px;
    border-radius: 10px;
    border-style: none;
    border: 2px solid rgb(122, 122, 122);
    margin-bottom: 2rem;
    resize: none; /* Agar tidak bisa diubah ukurannya */
    overflow-y: auto; /* Agar ada scroll jika teks panjang */
    outline: none;
}

.inputDeskripsi:focus {
    border-color: #162F83;
    box-shadow: 0px 0px 8px rgba(22, 47, 131, 0.5);
}

.conatiner-section3 div form label{
    font-size: 20px;
    margin-bottom: 5px;
}

.conatiner-section3 div form div{
    display: flex;
    justify-content: space-between;
}

.conatiner-section3 div form div a{
    display: grid;
    text-align: center;
    background-color: #434F65;
    border: 2px solid #434F65;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    font-weight: normal;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 4rem;
    padding-right: 4rem;
    margin-left: 10px;
}



@media screen and (max-width: 980px ){

    .backgroundDiv-section1 h2 {
        width: 460px;
    }

    .Display {
        width: 150px;
        margin-left: 2.313rem;
        margin-right: 2.313rem;
    }

    .displayButton div {
        height: 4rem;
        width: 4rem;
    }

    .displayButton div img {
        height: 50%;
    }

    

    .conatiner-section3 {
        padding-left: 80px;
        padding-right: 80px;
    }
}

@media screen and (max-width: 744px ){
    .backgroundDiv-section1 h2 {
        width: 460px;
        font-size: 24px;
    }

    .backgroundDiv-section1{
        padding: 5rem;
    }

    .Display {
        width: 150px;
        margin-left: 1.05rem;
        margin-right: 1.05rem;
    }

    .displayButton div {
        height: 4rem;
        width: 4rem;
    }

    .displayButton div img {
        height: 50%;
    }

    .conatiner-section3 {
        padding-left: 50px;
        padding-right: 50px;
    }

    .conatiner-section3 div form div{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .conatiner-section3 div form div a{
        margin-top: 12px;
    }
}

@media screen and (max-width: 740px ){
    
    .section1 {
        padding: 3rem;
    }
    
    .backgroundDiv-section1 h2 {
        width: 200px;
        font-size: 18px;
    }

    .backgroundDiv-section1{
        padding-top: 3rem;
        padding-bottom: 3rem;
        padding-left: 5rem;
        padding-right: 5rem;
    }

    .section2 {
        padding: 1rem;
    }

    .display-section2 {
        border-radius: 10px;
    }

    .Display h4 {
        font-size: 20px;
    }

    .display-section2 h3 {
        font-size: 14px;
        padding-bottom: 1rem;
        text-align: center;
    }

    .Display {
        width: 100px;
        margin-left: 0;
        margin-right: 0;
    }

    .displayButton {
        margin-top: 0.5rem;
        margin-left: 8px;
        margin-right: 8px;
    }

    .displayButton div {
        height: 3rem;
        width: 3rem;
    }

    .displayButton div img {
        height: 50%;
    }

    .displayButton p {
        font-size: 12px;
    }

    .sectionLine div {
        width: 768px;
    }

    .conatiner-section3 {
        padding-left: 35px;
        padding-right: 35px;
    }

    .conatiner-section3 div {
        width: auto;
    }

    .inputForm {
        width: 296px;
    }

    .inputDesakripsi {
        width: 296px;
    }

    .conatiner-section3 div form div {
        justify-content: space-between;
    }
}