
    *{
        margin: 0;
        padding: 0 ;
        scroll-behavior: smooth;
        font-family: "DM Sans", sans-serif;
    }

    .navSiswa{
        position: fixed;
        width: 100%;
        height: auto;
        z-index: 3;
        transition: 0.5s;
    }

    footer{
        display: flex;
        width: 100%;
        margin-top: 3rem;
    }

    section{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 4rem;
    }

    .container-section{
        display: flex;
        width: 780px;
        height: auto;
        flex-direction: column;
        padding: 2rem;
        border-radius: 20px;
        box-shadow: 0 4px 10px 10px rgba(0, 0, 0, 10%);
        margin-top: 4rem;
    }

    h1{
        text-align: center;
        color: #011219;
        font-size: 32px;
    }

    .profile{
        display: flex;
        justify-content: center;
        margin-top: 30px;
    }

    .container-section div img{
        width: 120px;
        height: 120px;
        border-radius: 100%;
    }

    .content-section{
        margin-top: 90px;
    }

    .content-section label{
        font-size: 20px;
        margin-bottom: 5px;
        color: #011219;
    }

    .content-section p{
        font-size: 16px;
        margin-bottom: 20px;
        margin-left: 20px;
        color: #011219;
    }

    .content-section ol{
        font-size: 16px;
        margin-bottom: 20px;
    }

    .content-section li{
        margin-left: 35px;
        color: #011219;
    }

    @media screen and (max-width: 540px) {
        h1{
            font-size: 24px;
        }

        section{
            display: flex;
            justify-content: none;
            padding-left: 1rem;
            padding-right: 1rem;
        }
    }