
*{
    margin: 0;
    padding: 0 ;
    scroll-behavior: smooth;
    font-family: "DM Sans", sans-serif;
}

.navLandingPage{
    position: fixed;
    width: 100%;
    height: auto;
    z-index: 3;
    transition: 0.5s;
}

nav.sticky{
    background: white;
}

.section1 {
    position: relative;
    width: auto;
    height: 978px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    /* position: relative; Tambahkan ini untuk memastikan overlay menutupi section */
    /* overflow: hidden; Mengatasi masalah overflow jika ada */
}

.blackDisplay{
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(2,18,67,0.65);
}


.pane{
    content: '';
    position: absolute;
    margin-top: 50rem;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    border-radius:  30% 30% 0 0/100% 100% 0 0 ;
    transform: scaleX(1.5) ;
}

.container-section1{
    position: relative;
    z-index: 2;
    margin-bottom: 6rem;
    max-width: 900px;
    text-align: center;
}

.h1-section1{
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 64px;
}

.section2{
    height: 1016px;
    /* justify-content: center; */
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-left: 14rem;
    padding-right: 14rem;
}

.img-section2{
    width: 50%;
    height: auto;
}

.container-section2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 4rem;
}

.h1-section2{
    font-size: 64px;
    font-weight: bold;
}

.p-section2{
    font-size: 24px;
    text-align: justify;
}

.section3{
    position: relative;
    height: auto;
    width: auto;
    display: flex;
    background-color: blue;
    background-image: linear-gradient(90deg, #011219 0%, #021243 67%);
    align-items: center;
    padding-top: 4rem;
    padding-bottom: 4rem;
    padding-left: 15.938rem;
    padding-right: 15.938rem;
}

.container-secction3{
    width: auto;
    height: auto;
    margin-right: 7.188rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.h1-section3{
    width: auto;
    font-size: 64px;
    font-weight: bold;
    color: white;
}

.p-section3{
    width: auto;
    margin-top: 2rem;
    font-size: 24px;
    text-align: justify;
    color: white;
}

.btn-section3{
    display: inline-block;
    margin-top: 4rem;
    height: 4rem;
    width: 24.875rem;
    text-align: center;
    text-decoration: none;
    font-size: 2.25rem;
    background:none;
    color: white;
    border: 2px solid;
    border-radius: 6.25rem;
    border-color: white;
    padding-top: 20px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.btn-section3:hover{
    color: #021243;
    font-weight: bold;
    transition: 0.3s;
    z-index: 2;
}

.btn-section3::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 0%;
    z-index: -1;
    background-color: white;
    border-radius: 0 0 50% 50% ;
    transition: 0.6s;
}

.btn-section3:hover::before{
    height: 180%;
}

.btn-section3:active{
    color: #011219;
}

.btn-section3:active::before{
    background-color: rgb(146, 146, 146);
}

.img-section3{
    width: 50%;
    height: auto;
}

.section4{
    /* height: 1084px; */
    display: grid;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.h1-section4{
    font-size: 64px;
    text-align: center;
    font-weight: bold;
    margin-left: 15.938rem;
    margin-right: 14.5rem;
    margin-top: 10rem;
}

.p-section4{
    font-size: 24px;
    /* text-align: justify; */
    margin-left: 15.938rem;
    margin-right: 14.5rem;
    margin-top: 60px;
    margin-bottom: 10rem;
}

.section5{
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: grid;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-image: linear-gradient(90deg, #021243 0% , #011219 100%);
}

.h1-section5{
    font-size: 64px;
    text-align: center;
    font-weight: bold;
    margin-left: 15.938rem;
    margin-right: 14.5rem;
    color: white;
}

.container-section5{
    display: flex;
    margin-left: 14.375rem;
    margin-right: 14.375rem;
}

.fitur{
    height: auto;
    width: 100%;
    padding-bottom: 2rem;
    margin: 2rem;
    border-radius: 20px;
    background-color: white;
    /* padding: 2.563rem; */
}

.container-fitur{
    padding: 2.563rem;
    display: grid;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.content-fitur{
    display: grid;
    margin-top: 2rem;
}

.h2-fitur{
    font-size: 2rem;
    text-align: center;
    color: #021243;
}

.p-fitur{
    color: #021243;
    font-size: 1.25rem;
    text-align: justify;
    margin-top: 0;
}

.img-fitur{
    width: 11.25rem;
    height: 11.25rem;
    justify-self: center;
    align-self: center;
    align-content: center;
    padding: 2rem;
}

.section6{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.h1-section6{
    font-size: 64px;
    text-align: center;
    font-weight: bold;
    margin-left: 15.938rem;
    margin-right: 14.5rem;
    margin-top: 10rem;
}

.container-section6{
    display: grid;
    /* padding: ; */
}

.content-section6{
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

.maps-section6{
    justify-content: center;
    align-items: center;
    margin-top: 7.5rem;
    margin-bottom: 7.5rem;
}

.maps{
    position: relative;
    display: grid;
    background-color: white;
    border-radius: 10px;
    width: 78.75rem;
    height: 31.25rem;
    padding-bottom: 1.25rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    box-shadow: 0px 0px 20px 0px rgb(0, 0, 0,25%);
}

.link-section6{
    color: black;
    font-weight: bold;
    font-size: 2rem;
    text-decoration: none;
    top:0;
}

.p-section6{
    margin-top: 20px;
}

.name-section6{
    width: auto;
    display: flex;
    flex-direction: column;
    margin-top: 0px;
}

.contact-section6{
    margin-top: 0;
    width: auto;
    display: flex;
    flex-direction: column;
}

.contact{
    color: black;
    font-weight: bold;
    font-size: 2rem;
}

.email-contact{
    display: flex;
    margin-top: 20px;
}

.telepon-contact{
    display: flex;
    margin-top: 20px;
}

.p-contact{
    margin-left: 1.25rem;
}

.content-maps{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 0;
    padding-left: 12px;
}

.content-maps img{
    width: 2rem;
    height: 2rem;
}

.maps-section6 iframe{
    /* position: absolute;
    top: 0;
    left: 0; */
    width: 1260px;
    height: 450px;
    /* border: 0; */
}

.p-maps{
    text-align: justify;
    font-weight: bold;
    font-size: 36px;
    margin-left: 1.25rem;
    color: #021243;
}

@media screen and (max-width: 1620px){
    .container-section5{
        /* display: fles; */
        margin-left: 0;
        margin-right: 0;
    }

    .section2{
        height: auto;
        padding-top: 5rem;
        padding-bottom: 5rem;
    }

    .section2 img{
        width: 40%;
        margin-left: 0;
    }

    .h1-section2{
        font-size: 40px;
    }

    .p-section2{
        font-size: 16px;
    }

    .img-section3{
        height: auto;
        width: 40%;
    }

    .h1-section3{
        font-size: 42px;
    }

    .p-section3{
        font-size: 14px;
    }

    .btn-section3{
        display: inline-block;
        /* margin-top: 4rem; */
        height: 3rem;
        width: 24.875rem;
        text-align: center;
        text-decoration: none;
        font-size: 1.25rem;
        background:none;
        color: white;
        border: 2px solid;
        border-radius: 6.25rem;
        border-color: white;
        /* padding-top: 20px; */
        cursor: pointer;
        position: relative;
        overflow: hidden;
    }
}

@media screen and (max-width: 1290px){
    
    .section2{
        height: auto;
        align-items: center;
        display: flex;
        padding-bottom: 10rem;
        padding-left: 7rem;
        padding-right: 7rem;
    }

    .img-section2{
        width: 50%;
    }

    .container-section2{
        display: block;
    }

    .h1-section2{
        font-size: 42px;
        margin-bottom: 2rem;
    }

    .p-section2{
        font-size: 14px;
    }

    .container-secction3{
        margin-right: 0;
        margin-top: 4rem;
    }

    .img-section3{
        width: 20rem;
        height: auto;
    }

    .h1-section3{
        font-size: 42px;
    }

    .p-section3{
        font-size: 14px;
    }

    .btn-section3{
        display: inline-block;
        /* margin-top: 4rem; */
        height: 3rem;
        width: 24.875rem;
        text-align: center;
        text-decoration: none;
        font-size: 1.25rem;
        background:none;
        color: white;
        border: 2px solid;
        border-radius: 6.25rem;
        border-color: white;
        /* padding-top: 20px; */
        cursor: pointer;
        position: relative;
        overflow: hidden;
    }

    .container-section5{
        display: grid;
        margin-left: 14.375rem;
        margin-right: 14.375rem;
    }

    .content-section6{
        display: flex;
        justify-content: space-between;
    }

    .maps-section6{
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 7.5rem;
        margin-bottom: 7.5rem;
    }
    
    .maps{
        position: relative;
        display: grid;
        background-color: white;
        border-radius: 10px;
        width: auto;
        height: auto;
        padding-bottom: 1.25rem;
        padding-left: 1.25rem;
        padding-right: 1.25rem;
        box-shadow: 0px 0px 20px 0px rgb(0, 0, 0,25%);
    }

    .maps-section6 iframe{
        /* position: absolute;
        top: 0;
        left: 0; */
        width: 600px;
        height: 190px;
        /* border: 0; */
    }

    .p-maps{
        text-align: justify;
        font-weight: bold;
        font-size: 20px;
        margin-left: 1.25rem;
        color: #021243;
    }

    .content-maps img{
        height: 18px;
        width: 18px;
    }

    .content-maps{
        display: flex;
        justify-content: flex-start;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .content-section6{
        display: grid;
    }

    .contact-section6{
        justify-content: flex-start;
    }

    .link-section6{
        margin-top: 2rem;
        font-size: 20px;
    }

    .contact{
        font-size: 20px;
    }

    .p-section6{
        font-size: 12px;
    }

    .content-contact{
        font-size: 12px;
    }

    .contact-section6 img{
        height: 12px;
        width: 12px;
    }
}

@media screen and (max-width: 1270px){
    .section3{
        display: flex;
        flex-direction: column;
        flex-direction: column-reverse;
    }

    .img-section3{
        margin-top: 2rem;
        height: auto;
        margin-right: 0;
    }

    /* .img-section2{
        height: 80px;
        width: 80px;
    } */
}

@media screen and (max-width: 680px){
    .h1-section1{
        font-size: 42px;
        margin-left: 4rem;
        margin-right: 4rem;
    }
    
    .section2 {
        padding-left: 4rem;
        padding-right: 4rem;
    }

    .h1-section2{
        font-size: 24px;
    }

    .p-section2{
        font-size: 12px;
    }

    .maps-section6 iframe{
        /* position: absolute;
        top: 0;
        left: 0; */
        width: 380px;
        height: 315px;
        /* border: 0; */
    }

    .section4{
        padding-top: 2rem;
    }

    .h1-section4 {
        font-size: 32px;
    }

    .p-section4 {
        font-size: 14px;
        margin-left: 4rem;
        margin-right: 4rem;
    }

    .h2-fitur{
        font-size: 24px;
        margin-bottom: 2rem;
    }

    .p-fitur{
        font-size: 16px;
    }

    .name-section6 {
        width: 13.75rem;
    }

    .h1-section6 {
        font-size: 32px;
        margin-left: 0;
        margin-right: 0;
        margin-top: 10rem;
        margin-bottom: 2rem;
    }

    .h1-section5 {
        font-size: 32px;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 2rem;
    }

    .fitur {
        margin: 0;
        margin-bottom: 2rem;
        /* padding: 2.563rem; */
    }

    .h1-section4 {
        margin: 0;
    }

    .container-section5 {
        display: grid;
        margin-left: 2rem;
        margin-right: 2rem;
    }
}

@media screen and (max-width: 590px) {
    
}

@media screen and (max-width: 590px) {
    .section1 {
        height: 500px;
    }

    .pane {
        margin-top: 20rem;
    }
    
    .h1-section1{
        font-size: 18px;
    }
    
    .section2 {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .container-section2{
        margin-left: 2rem;
    }

    .h1-section2 {
        margin-bottom: 4px;
    }

    .p-section2{
        font-size: 10px;
    }
    
    .h1-section3{
        font-size: 28px;
    }

    .p-section3{
        font-size: 14px;
    }

    .btn-section3{
        display: inline-block;
        height: 2.25rem;
        width: 15.875rem;
        font-size: 14px;
    }

    .section3{
        width: auto;
        padding-left: 5rem;
        padding-right: 5rem;
    }

    .container-section5 {
        display: grid;
        margin-left: 40px;
        margin-right: 40px
    }

    .container-fitur {
        padding: 1rem;
    }

    .maps-section6 iframe {
        width: 260px;
        height: 272px;
        /* border: 0; */
    }

    .content-maps img {
        height: 12px;
        width: 12px;
    }

    .p-maps{
        font-size: 12px;
    }
}